[submodule "roles/swarm"]
	path = roles/swarm
	url = https://github.com/HauptJ/ansible-role-docker.git
[submodule ".\\roles\\git"]
	path = .\\roles\\git
	url = https://github.com/HauptJ/ansible-role-git.git
