# Install OS instead of upgrade
install
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# Root password
rootpw vagrant

# Use cdrom aks ISO image
cdrom
# System language
lang en_US --addsupport=en_GB.UTF-8
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text install
text
# Run the Setup Agent on first boot
firstboot --disable
# SELinux configuration
selinux --disabled
# License agreement
eula --agreed
# System services
services --enabled=NetworkManager,sshd
# System timezone
timezone America/Chicago --ntpservers=3.centos.pool.ntp.org,0.centos.pool.ntp.org,2.centos.pool.ntp.org,1.centos.pool.ntp.org
# Disk selection
ignoredisk --only-use=sda
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot/efi --fstype="vfat" --size=200
part /boot --fstype="ext4" --size=1024
part swap --fstype="swap" --size=16384
part / --fstype="ext4" --grow --size=1

# Vagrant username and password and sudo
user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel
# Reboot after installation
reboot

%packages
# Groups
@core
@base
@guest-agents

# system tools
wget
curl
# Utilities needed for Vagrant SSH
hyperv-daemons
openssh-server
openssh-clients
openssh

# text editors
vim
emacs
nano

%end

# post part
%post --log=/root/ks-post.log
systemctl enable sshd
# systemctl start sshd
systemctl set-default multi-user.target
systemctl disable initial-setup-text
systemctl disable initial-setup-graphical
sed -i 's/__all__ = \["EULAspoke"\]/__all__ = \["LicenseScreen"\]/' /usr/lib/python2.7/site-packages/initial_setup/tui/spokes/eula.py
# secure boot files
cp -pr /boot/efi/EFI/centos/* /boot/efi/EFI/BOOT/

%end
